/*
=========
= Reset =
=========
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
======================
= Typo personnalisee =
======================
*/
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: Georgia,Times, 'Times New Roman' ,serif;
  font-weight: bold;
  margin-bottom: 0.25em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1.25em; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  color: grey;
  font-size: 0.7em; }

h1.sub {
  color: grey;
  font-size: 1.75em; }

h2.sub {
  color: grey;
  font-size: 1.575em; }

h3.sub {
  color: grey;
  font-size: 1.4em; }

h4.sub {
  color: grey;
  font-size: 1.225em; }

h5.sub {
  color: grey;
  font-size: 1.05em; }

h6.sub {
  color: grey;
  font-size: 0.875em; }

body {
  color: black; }

p {
  margin-bottom: 12px;
  text-indent: 1.5em; }

mark {
  background-color: black;
  color: white; }

del {
  text-decoration: double line-through;
  text-decoration-color: grey; }

ins, u {
  text-decoration: underline;
  text-decoration-color: grey; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: none;
  border-bottom: 1px dashed;
  font-style: italic; }

blockquote {
  display: inline-block;
  font: 14px/20px "italic Times",serif;
  padding: 8px;
  background-color: #FAEBBC;
  border: 1px solid #E1CC89;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 30px;
  background-image: url(images/openquote.gif);
  background-position: left top;
  background-repeat: no-repeat; }

code {
  display: inline-block;
  font-style: italic;
  font-family: "consolas";
  padding: 5px 10px 3px 20px;
  background-image: url(images/fond-code.png);
  margin: 10px;
  color: #0080FF;
  border-left: 2px solid #0080FF;
  white-space: pre; }

pre {
  display: inline-block;
  white-space: pre;
  font-family: "lucida sans unicode","lucida grande";
  background-image: url(images/fond-pre.png);
  margin: 5px;
  padding-left: 10px; }

kbd {
  background-color: #F4F7F8;
  border-radius: 5px;
  border: 1px solid #B4B4B4;
  font-family: Consolas;
  font-size: 0.85em;
  font-weight: 700;
  line-height: inherit;
  padding: 2px 4px;
  white-space: nowrap; }

li {
  list-style-type: circle; }

.li-clean {
  list-style-type: none; }

.li-disc {
  list-style-type: disc; }

.li-square {
  list-style-type: square; }

.alignementleft {
  text-align: left; }

.alignementright {
  text-align: right; }

.alignementcenter {
  text-align: center; }

.alignementjustified {
  text-align: justify; }

.transformationMajuscule {
  text-transform: uppercase; }

.transformationMinuscule {
  text-transform: lowercase; }

.table {
  border: 1px solid black;
  border-collapse: collapse; }

.th {
  background-color: #B2CCCC;
  border: 1px solid black;
  padding: 2px; }

.tr:hover {
  font-weight: bold; }

.td {
  border: 1px solid black;
  padding: 2px; }

.table tr:nth-child(odd) {
  background-color: #D8FFD0; }

/*
=========================
= Boutons personnalisee =
=========================
*/
.btn, .btn-small, .btn-lg, .btn-red, .btn-blue, .btn-green, .btn-flat, .btn-xtlg {
  font-size: 1.75em;
  padding: 4px;
  text-align: center;
  background-color: black;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-radius: 25px;
  border-right-color: grey;
  border-left-color: grey;
  cursor: pointer; }
  .btn:hover, .btn-small:hover, .btn-lg:hover, .btn-red:hover, .btn-blue:hover, .btn-green:hover, .btn-flat:hover, .btn-xtlg:hover {
    background-color: white;
    color: black;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: black;
    border-top-color: black; }
  .btn:focus, .btn-small:focus, .btn-lg:focus, .btn-red:focus, .btn-blue:focus, .btn-green:focus, .btn-flat:focus, .btn-xtlg:focus {
    border-color: black; }

.btn-small {
  font-size: 1.25em;
  padding: 5px;
  border-radius: 20px; }

.btn-lg {
  font-size: 2.25em;
  padding: 3px;
  border-radius: 20px; }

.btn-red {
  background-color: red;
  border-right-color: darkred;
  border-left-color: darkred; }
  .btn-red:hover {
    background-color: white;
    color: red;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: red;
    border-top-color: red; }
  .btn-red:focus {
    border-color: darkred; }

.btn-blue {
  background-color: blue;
  border-right-color: darkblue;
  border-left-color: darkblue; }
  .btn-blue:hover {
    background-color: white;
    color: blue;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: blue;
    border-top-color: blue; }
  .btn-blue:focus {
    border-color: darkblue; }

.btn-green {
  background-color: green;
  border-right-color: darkgreen;
  border-left-color: darkgreen; }
  .btn-green:hover {
    background-color: white;
    color: green;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: green;
    border-top-color: green; }
  .btn-green:focus {
    border-color: darkgreen; }

.btn-fancy {
  width: 200px;
  color: white;
  border-radius: 20px;
  border: solid 2px darkred;
  background: red;
  text-align: center;
  padding: 20px 30px;
  transition: all 0.1s;
  box-shadow: 0px 9px 0px darkred;
  font-size: 1.75em; }
  .btn-fancy:active {
    box-shadow: 0px 2px 0px darkred;
    position: relative;
    top: 7px; }

.btn-flat {
  border: none;
  border-radius: 0px; }

.btn-xtlg {
  width: 100%; }

/*
=========================
= Alertes personnalisee =
=========================
*/
.valide {
  width: auto;
  background-color: #49FF61;
  color: darkgreen;
  border: 2px solid darkgreen;
  background-image: url(images/valide.png);
  background-repeat: no-repeat;
  background-position: 0.25em;
  background-size: contain;
  text-indent: 0em;
  padding-left: 2em; }

.info {
  width: auto;
  background-color: #3781F8;
  color: #1526E4;
  border: 2px solid #1526E4;
  background-image: url(images/Info.png);
  background-repeat: no-repeat;
  background-position: 0.25em;
  background-size: contain;
  text-indent: 0em;
  padding-left: 2em; }

.avertissement {
  width: auto;
  background-color: #FFDE3B;
  color: #DA9B09;
  border: 2px solid #DA9B09;
  background-image: url(images/warning.png);
  background-repeat: no-repeat;
  background-position: 0.25em;
  background-size: contain;
  text-indent: 0em;
  padding-left: 2em; }

.danger {
  width: auto;
  background-color: #F84737;
  color: darkred;
  border: 2px solid darkred;
  background-image: url(images/error.png);
  background-repeat: no-repeat;
  background-position: 0.25em;
  background-size: contain;
  text-indent: 0em;
  padding-left: 2em; }

/*
============================
= Composants personnalisee =
============================
*/
/* Jumbotron */
.jumbotron {
  width: 40%;
  background-color: darkgrey;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 20%; }

.header {
  width: 100%;
  text-align: left;
  background-color: #E1CC89; }

/* Classe navbar pour menu horizontal */
.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  float: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
  .navbar li {
    display: inline-block;
    float: left; }
    .navbar li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc; }
      .navbar li a:hover {
        color: green;
        background-color: #fff;
        cursor: pointer; }
      .navbar li a.disabled {
        cursor: none;
        color: grey;
        background-color: #f2f2f2; }
      .navbar li a.active {
        cursor: pointer; }

/* Fil d'ariane*/
.breadcrumb {
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  width: 500px; }

.breadcrumb ul, .breadcrumb li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.breadcrumb ul {
  height: 33px;
  margin: 10px auto; }

.breadcrumb li.first {
  background: url(images/first-left.png) 0 0 no-repeat;
  height: 33px; }

.breadcrumb li {
  float: left;
  background: url(images/general-left.png) 0 0 no-repeat;
  line-height: 33px;
  margin: 5px 0 0 0;
  padding-left: 13px; }

.breadcrumb li a, .breadcrumb li span {
  float: left;
  background: url(images/bg-gradient.jpg) 0 0 repeat-x;
  height: 33px;
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.02em; }

.breadcrumb li span.end {
  float: left;
  background: url(images/general-right.png) 0 0 no-repeat;
  width: 15px;
  height: 33px; }

/* Pagination */
.pagination ul {
  padding: 10px; }

.pagination ul, .pagination li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.pagination a {
  display: inline-block;
  padding: 0px 9px;
  margin-right: 4px;
  border-radius: 3px;
  border: solid 1px #c0c0c0;
  background: #e9e9e9;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px white; }
  .pagination a:hover {
    background: #B4B4B4;
    color: black;
    cursor: pointer; }
  .pagination a.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
  .pagination a.disabled {
    cursor: none;
    background: #e9e9e9;
    color: #717171; }

/*
==========
= Grille =
==========
*/
body {
  display: table;
  width: 100%;
  table-layout: fixed;
  word-spacing: -2em; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18, .col19, .col20, .col21, .col22 {
  margin-right: 1%;
  margin-left: 1%;
  display: inline-block;
  box-sizing: border-box;
  word-spacing: normal;
  /*overflow: auto;*/ }

.col1 {
  width: 2.54545%; }

.col2 {
  width: 7.09091%; }

.col3 {
  width: 11.63636%; }

.col4 {
  width: 16.18182%; }

.col5 {
  width: 20.72727%; }

.col6 {
  width: 25.27273%; }

.col7 {
  width: 29.81818%; }

.col8 {
  width: 34.36364%; }

.col9 {
  width: 38.90909%; }

.col10 {
  width: 43.45455%; }

.col11 {
  width: 48%; }

.col12 {
  width: 52.54545%; }

.col13 {
  width: 57.09091%; }

.col14 {
  width: 61.63636%; }

.col15 {
  width: 66.18182%; }

.col16 {
  width: 70.72727%; }

.col17 {
  width: 75.27273%; }

.col18 {
  width: 79.81818%; }

.col19 {
  width: 84.36364%; }

.col20 {
  width: 88.90909%; }

.col21 {
  width: 93.45455%; }

.col22 {
  width: 98%; }

.off1 {
  margin-left: 5.54545%; }

.off2 {
  margin-left: 10.09091%; }

.off3 {
  margin-left: 14.63636%; }

.off4 {
  margin-left: 19.18182%; }

.off5 {
  margin-left: 23.72727%; }

.off6 {
  margin-left: 28.27273%; }

.off7 {
  margin-left: 32.81818%; }

.off8 {
  margin-left: 37.36364%; }

.off9 {
  margin-left: 41.90909%; }

.off10 {
  margin-left: 46.45455%; }

.off11 {
  margin-left: 51%; }

.off12 {
  margin-left: 55.54545%; }

.off13 {
  margin-left: 60.09091%; }

.off14 {
  margin-left: 64.63636%; }

.off15 {
  margin-left: 69.18182%; }

.off16 {
  margin-left: 73.72727%; }

.off17 {
  margin-left: 78.27273%; }

.off18 {
  margin-left: 82.81818%; }

.off19 {
  margin-left: 87.36364%; }

.off20 {
  margin-left: 91.90909%; }

.off21 {
  margin-left: 96.45455%; }

/*# sourceMappingURL=global.css.map */
