@import 'var-content';

/* Jumbotron */
.jumbotron
{
  width: 40%;
  background-color: darkgrey;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-left: 20%;
}

.header
{
  width: 100%;
  text-align: left;
  background-color:#E1CC89;
}

/* Classe navbar pour menu horizontal */
.navbar
{
  width: 100%;
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  float: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;
  & li
  {
    display: inline-block;
    float: left;
    & a 
    {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc;
      &:hover
      {
        color: $vert;
        background-color: #fff;
        cursor: pointer;
      }
      &.disabled
      {
        cursor: none;
        color: $gris;
        background-color: #f2f2f2;
      } 
      &.active
      {
      	cursor: pointer;
      }
    } 
  }
}

/* Fil d'ariane*/
.breadcrumb
{
  font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  width:500px;
}
.breadcrumb ul, .breadcrumb li 
{
  list-style-type:none; 
  padding:0;margin:0;
}   
.breadcrumb ul
{
  height:33px;
  margin:10px auto;
} 
.breadcrumb li.first 
{
  background:url(images/first-left.png) 0 0 no-repeat;
  height:33px;
} 
.breadcrumb li 
{
  float:left;
  background:url(images/general-left.png) 0 0 no-repeat;
  line-height:33px;
  margin:5px 0 0 0;
  padding-left:13px;
}
.breadcrumb li a, .breadcrumb li span 
{
  float:left;
  background:url(images/bg-gradient.jpg) 0 0 repeat-x;
  height:33px;
  margin:0;
  padding:0 0 0 5px;
  font-size:11px;
  text-transform:uppercase;
  letter-spacing:0.02em;
} 

.breadcrumb li span.end 
{
  float:left;
  background:url(images/general-right.png) 0 0 no-repeat;
  width:15px;
  height:33px;
}           

/* Pagination */
.pagination ul 
{
  padding: 10px;
}

.pagination ul, .pagination li 
{
  display: inline-block;
  list-style-type:none; 
  padding:0;margin:0;
} 
.pagination a {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    &:hover {
      background: $gris-claire;
      color: $noir;
      cursor:pointer;
    }
    &.active {
      border: none;
      background: #616161;
      box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
      color: #f0f0f0;
      text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    }
    &.disabled{
      cursor: none;
      background: #e9e9e9;
      color: #717171;
    }
}

