$ft-sz-bt-base: 1.75em;
$ft-sz-bt-sm: 1.25em;
$ft-sz-bt-lg: 2.25em;
$blanc: white;
$noir: black;
$gris: grey;
$rouge: red;
$rouge-fonce: darkred;
$bleu: blue;
$bleu-fonce: darkblue;
$vert: green;
$vert-fonce: darkgreen;
$ft-sz-titre: 2.5em;
$indent-p: 1.5em;
$beige: #FAEBBC;
$beige-fonce: #E1CC89;
$bleu-ciel: #0080FF;
$blanc-casse: #F4F7F8;
$gris-claire: #B4B4B4;
$vert-pomme: #D8FFD0;
$vert-succes: #49FF61;
$orange-avert: #FFDE3B;
$rouge-danger: #F84737;
$bleu-info: #3781F8;
$orange-fonce: #DA9B09;
$bleu-texte: #1526E4;